$skyBlue: #2699fb;
$white: #fff;
$gray: #7f7f7f;
$monserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$lightBlue: #bce0fd;
$largeParaType: Georgia, "Times New Roman", Times, serif;
$largeParaSize: 40px;
$veryLightBlue: #f1f9ff;
$mediumText: 0.75em;
$verySmallText: 0.65em;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $monserrat;
}
.container {
  width: 100%;
  header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 94px;
    background-color: $skyBlue;
    nav {
      width: 100%;
      padding: 0 0.75em;
      section {
        display: flex;
        align-items: center;
        h1 {
          color: $white;
        }
        div#menu {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin-left: auto;
          width: 57px;
          height: 36px;
          span.menu-span {
            width: 100%;
            height: 4px;
            background-color: $white;
            display: block;
          }
        }
      }
      span {
        color: $white;
      }
      ul {
        display: none;
      }
    }
  }
  section#section-one {
    margin-top: 3em;
    padding: 0 0.75em;
    h3 {
      color: $gray;
    }
    p {
      margin-top: 0.75em;
      color: $skyBlue;
      font-family: $largeParaType;
      font-size: $largeParaSize;
    }
    button {
      margin-top: 3.5em;
      padding: 1em 2.5em;
      background-color: transparent;
      color: $skyBlue;
      border: solid $lightBlue 2px;
      border-radius: 4px;
    }
    img {
      margin: 2.5em 0 5.5em 0;
      width: 100%;
      height: auto;
      text-align: center;
      margin-left: 0.35em;
    }
  }
  section#section-two {
    background-color: $veryLightBlue;
    padding: 1.5em 0.75em 5em 0.75em;
    p#section-two-p1 {
      color: $skyBlue;
      font-family: $largeParaType;
      font-size: $largeParaSize;
      margin-bottom: 0.75em;
    }
    p#section-two-p2 {
      padding-top: 0.75em;
      color: $skyBlue;
      font-size: 0.75em;
      word-spacing: 2px;
      line-height: 1.5em;
    }
  }
  section#section-three {
    margin-top: 3em;
    padding: 0 0.75em;
    display: flex;
    flex-direction: column;
    img {
      margin: 0.5em 0;
    }
  }
  section#section-four {
    margin-top: 1em;
    padding: 0 0.75em;
    .section-four-content {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 2em;
      header {
        display: flex;
        background-color: $white;
        img {
          transform: scale(1.2);
          
        }
        .name {
          color: $skyBlue;
          margin-left: 1em;
          font-family: $roboto;
          font-size: $mediumText;
        }
        .time {
          color: $gray;
          font-size: $verySmallText;
          margin-left: auto;
        }
      }
      p {
        font-size: $verySmallText;
        color:$gray;
        line-height: 2em;
        margin-bottom: 2.5em;
      }
      footer {
        display: flex;
        align-items: center;
        margin-top: 1em;
        // margin-left: -1em;
        .footer-child {
          display: flex;
          align-items: center;
          margin-left: -1em;
          margin-right: 2em;
          svg {
            transform: scale(0.5);
            // transform-origin: 0% 50%;
            margin-left: 0.5em;
          }
          .name {
            color: $skyBlue;
            // margin-left: 1em;
            font-family: $roboto;
            font-size: $mediumText;
          }
        }
        .name {
          color: $skyBlue;
          // margin-left: 1em;
          font-family: $roboto;
          font-size: $mediumText;
        }
        .share {
          margin-left: auto;
        }
        #Icon_awesome-heart, #Icon_awesome-minus-square {
          fill:$skyBlue;
        }
      }
    
    }
  }
}

// downloaded new set of images, look in documents folder