@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(180deg, white, rgba(0, 0, 0, 0.2));
}

#container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 70px);
}

#container1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 9em;
  text-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
  color: #fff;
  color: royalblue;
  cursor: pointer;
}

@media (max-width: 320px) {
  #container1 h1 {
    font-size: 2em;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

nav#navigation {
  background-color: royalblue;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6.5em;
}

nav#navigation span {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: white;
}

nav#navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

nav#navigation ul li {
  list-style: none;
}

nav#navigation ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 1em;
  text-transform: uppercase;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

nav#navigation ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background-color: royalblue;
  background-image: none;
}

#container2 section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container2 section img {
  width: 454px;
  height: 332px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 4em 1em;
  border: 1em solid #fff;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#container2 section img:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

footer {
  padding: 1em;
  padding: 2em 6.5em;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

footer p {
  font-family: "Roboto", sans-serif;
  margin-left: 0.5em;
  text-transform: uppercase;
  color: royalblue;
}

footer section#footer-section-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer section#footer-section-socials span.footer-section-socials-span {
  width: 50px;
  height: 50px;
  background-size: contain;
  display: inline-block;
  margin-left: 0.5em;
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(1) {
  background-image: url("/XD_Export/bw-social/Facebook.svg");
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(2) {
  background-image: url("/XD_Export/bw-social/Github.svg");
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(3) {
  background-image: url("/XD_Export/bw-social/Linkedin.svg");
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(4) {
  background-image: url("/XD_Export/bw-social/Twitter.svg");
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(1):hover {
  background-image: url("/XD_Export/color-social/Facebook.svg");
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(2):hover {
  background-image: url("/XD_Export/color-social/Github.svg");
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(3):hover {
  background-image: url("/XD_Export/color-social/Linkedin.svg");
}

footer section#footer-section-socials span.footer-section-socials-span:nth-child(4):hover {
  background-image: url("/XD_Export/color-social/Twitter.svg");
}
/*# sourceMappingURL=style.css.map */